@import "../../../assets/styles/variables";



.card-body {
  cursor: pointer;
  background-color: white;
}

.pagination {
  .page-item:not(.disabled) .page-link {
    color: black;
  }

  .page-item.active .page-link {
    background-color: $gray;
    border-color: #dadbdc;
    color: black;
  }
}

.product__card:hover
{
  transform: scale(1.05);
  cursor: pointer;
}
.product__card{
  transition: transform 0.2s ease;
}
