<div class="container-fluid">
<div class="row my-3">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">
    <div class="products py-3">
      <div class="row row-cols-5">
        <div *ngFor="let product of products">
          <div class="col d-flex flex-column mb-3 product__card" (click)="showProductDetails(product.id)">
            <div class="mb-4">
              <!-- <div class="item-img p-2 text-center"> -->
              <img [src]="product.thumbnail" class="card-img-top shadow-sm" alt="{{ product.title }}" />
              <!-- </div> -->
              <div class="p-2 mt-2 card-body">
                <p class="product__title"> {{product.title.length>60? (product.title | slice:0:60)+'...' :
                  (product.title)}} {{product.rating}}
                </p>
                <div class="product__price d-flex justify-content-between ">
                  <span><span class="product__price__currency px-1">EGB</span> <span
                      class="product__price__amount">{{product.price | number:'1.0'}}</span></span>
                  <span class="badge rounded-pill d-flex align-items-center border border-secondary-subtle"><i
                      class="fas fa-star px-1"></i>{{product.rating}} <span
                      class="stock px-1">({{product.stock}})</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col align-self-center text-center " *ngIf="products.length != 0">
          <!-- <ngb-pagination  class="d-inline-block pagination"
                           [collectionSize]="collectionSize"
                           [(page)]="page" [pageSize]="pageSize"
                           (pageChange)="refreshProductList()">
            <ng-template ngbPaginationPrevious><i class="fas fa-arrow-left"></i> Previous</ng-template>
            <ng-template ngbPaginationNext>Next <i class="fas fa-arrow-right"></i></ng-template>
          </ngb-pagination> -->

          <nav aria-label="Page navigation example">
            <ul class="pagination  justify-content-center">
              <li class="page-item">
                <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </button>
              </li>
              <li class="page-item disabled"><a class="page-link" href="#"><span>Page {{ currentPage }} of {{ totalPages }}</span></a></li>
              <li class="page-item">
                <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </button>
              </li>
            </ul>
          </nav>

          <!-- <div class="limit-controls">
            <label for="productsPerPage">Products per page:</label>
            <select id="productsPerPage" (change)="onLimitChange($any($event.target).value)">
              <option *ngFor="let limit of [10, 20, 30, 40, 50]" [value]="limit">{{ limit }}</option>
            </select>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
