<header class="navbar position-sticky d-flex flex-column">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="assets/images/logo.svg"></a>
    <div class="d-flex col-12 col-md-6">
        <input class="form-control me-2" type="search" [(ngModel)]="search" (ngModelChange)="onSearchChange()" placeholder="Search for Product">
    </div>
    <div class="d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row">
        <li class="nav-item  d-flex align-items-center px-2 ">
          <span><i class="fas fa-bookmark"></i></span><a class="nav-link px-2" href="#">watchlist</a>
        </li>
        <li class="nav-item d-flex align-items-center px-2 dropdown position-relative">
          <a class="nav-link px-2" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fas fa-shopping-cart"></i></span> cart</a>
          <ul class="dropdown-menu dropdown-menu-end p-2 position-absolute">
            <ul class="list-group list-group-flush" *ngIf="cartProductList.length > 0 ">
                <li  *ngFor="let cartItem of cartProductList;let i = index"
                  class="list-group-item d-flex p-1 align-items-center font-small text-capitalize mb-1 bg-transparent">
                  <span class="text-center w-25 "><img  class="card-img" src="{{cartItem.thumbnail? cartItem.thumbnail:cartItem.images[0]}}" /> </span>
                  <div class="d-flex flex-column px-2 w-75">
                    <span class="pb-1"><b>{{cartItem.title}}</b></span>
                    <span class="btn-link">checkout</span>
                  </div>
                  <span class="btn btn-danger btn-sm " (click)="removeItemFromCart(cartItem.id)"><i class="fa-regular fa-trash-can"></i></span>
                </li>
            </ul>
            <li *ngIf="cartProductList.length == 0"><p class="lead text-center text-grey font-small px-1 mb-0"> No Product Added </p></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
<app-navbar></app-navbar>

