@import "../../../../assets/styles/variables";

header{
    background-color: $primary;
    .navbar-nav {
      .nav-item a, .nav-item i{
        color: white;
      }
    }

    .dropdown-menu {
      width: 60vh;
      z-index: 9999999;
      top: 20vh;

    }

    .list-group {
      z-index: 9999999;
    }
 }
