@import "../../../../assets/styles/variables";

li.list-group-item {
  border: 0;
  border-left: 1px solid #EAECF0;
  background: transparent;
   cursor: pointer;
}
.list-group-item.active{
  background-color: $primary-light;
  color: $primary;
}
