@import "./assets/styles/variables";

body {
  background-color: $gray ;
  font-family: "Roboto";
}

.breadcrumb {
  background-color: transparent;

  * {
    color: $grey-light;
  }
}


.bg-gray {
  background-color: $gray;
  color: $text-gray;
}
